.accordion {
  width: 100%;
  height: auto;
  padding: 20px 24px 20px 68px;
  background-color: #F2F2F2;
}

// title 
.title {
  text-transform: uppercase;
  color: #777777;
  font-size: 14px;
}
.title span:first-child {
  margin-right: 15px;
}
.title span strong {
  color: #5B5B5B;
}

// select
.select_wrap {
  display: flex;
  align-items: center;
  margin: 14px 0;
}

.select {
  border: 2px solid #C0C0C0;
  background: #fff;
  padding: 6px 12px;
  margin-right: 16px;
  font-size: 14px;
  select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
    color: #5B5B5B;
    font-weight: 700;
  }
}


.select_input {
  border: none;
  border-bottom: 2px solid #C0C0C0;
  background-color: transparent;
  font-size: 12px;
  padding: 8px 0;
  width: 200px;
  &::placeholder {
    color: #C0C0C0;
    text-transform: uppercase;
  }
}
.input_wrap {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../../../public/img/calendar.webp);
  }
}